<div *ngIf="loading" class="d-flex justify-content-center align-items-center w-100">
  <mat-spinner ></mat-spinner>
</div>

<ng-container *ngIf="!loading">
  <div class="d-flex justify-content-end mb-3">
    <button (click)="opentDialog()" mat-button color="primary">Crear estudiante</button>
  </div>
<table mat-table [dataSource]="students" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> Nombre y apellido </th>
      <td mat-cell *matCellDef="let element"> {{[element.People.firstName, element.People.lastName] | fullName}}</td>
    </ng-container>
    
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.People.email}} </td>
    </ng-container>

    <ng-container matColumnDef="expedient">
      <th mat-header-cell *matHeaderCellDef> Nro. legajo </th>
      <td mat-cell *matCellDef="let element"> {{element.Expedient}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="opentDialog(element, true)" mat-icon-button color="primary">
          <mat-icon>visibility</mat-icon>
        </button>
        <button (click)="opentDialog(element)" mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="onDeleteStudent(element.Id)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- <pre>{{students | json}}</pre> -->
</ng-container>