<h2 mat-dialog-title>Crear Usuario</h2>

<form [formGroup]="studentForm">
    <div mat-dialog-content>
        <div class="row">
            <div class="col-6">
                <mat-form-field class="w-100 p-2">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="firstName" matInput/>
                    <!-- <mat-error>{{firstNameControl?.errors| formFieldValidationError}}</mat-error> -->
                </mat-form-field>
            </div>
    
            <div class="col-6">
                <mat-form-field class="w-100 p-2">
                    <mat-label>Apellido</mat-label>
                    <input formControlName="lastName" matInput/>
                </mat-form-field>
            </div>
    
            <div class="col-8">
                <mat-form-field class="w-100 p-2">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput/>
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field class="w-100 p-2">
                    <mat-label>Born Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="bornDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-8">
                <mat-form-field class="w-100 p-2">
                    <mat-label>Número documento</mat-label>
                    <input formControlName="email" matInput/>
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field class="w-100 p-2">
                    <mat-label>Nivel escolar</mat-label>
                    <mat-select formControlName="role">
                        <mat-option value="Primary">Primario</mat-option>
                        <mat-option value="Secondary">Secundario</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field class="w-100 p-2">
                    <mat-label>Calle</mat-label>
                    <input formControlName="email" matInput/>
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="w-100 p-2">
                    <mat-label>Número</mat-label>
                    <input formControlName="email" matInput/>
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="w-100 p-2">
                    <mat-label>Piso</mat-label>
                    <input formControlName="email" matInput/>
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="w-100 p-2">
                    <mat-label>Departamento</mat-label>
                    <input formControlName="email" matInput/>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>
