@if (loadingStudentModal$ | async) {
    <div class="d-flex justify-content-center align-items-center w-100">
        <mat-spinner ></mat-spinner>
    </div>
}@else{
    @if (error$ | async ){
        <h3>Ocurrió un error al cargar el modal de estudiantes.</h3>
    }@else {
        <ng-container>
            <h2 mat-dialog-title appTamanio20Titulos>Crear Estudiante</h2>
        
            <form [formGroup]="studentForm">
                <div mat-dialog-content>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="w-100 p-2">
                                <mat-label>Persona</mat-label>
                                    <mat-select formControlName="personaId">
                                        <mat-option [value]="person.id" *ngFor="let person of (personas$ | async)">
                                            {{ person.firstName}} {{person.lastName }}
                                        </mat-option>
                                    </mat-select>   
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="w-100 p-2">
                                <mat-label>Nro. legajo</mat-label>
                                <input formControlName="expedient" matInput/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div *ngIf="loadGridRegistrations" class="row">
                        <div class="col-12">
                            <div class="w-100 p-2">
                                <table mat-table [dataSource]="registrationsByStudentId$" class="mat-elevation-z8">
                                    <ng-container matColumnDef="id">
                                      <th mat-header-cell *matHeaderCellDef> No. </th>
                                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                    </ng-container>
                                
                                    <ng-container matColumnDef="turn">
                                      <th mat-header-cell *matHeaderCellDef> Turno </th>
                                      <td mat-cell *matCellDef="let element"> {{element.turn}}</td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="subject">
                                      <th mat-header-cell *matHeaderCellDef> Materia </th>
                                      <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
                                    </ng-container>
                                
                                    <ng-container matColumnDef="course">
                                        <th mat-header-cell *matHeaderCellDef> Hs. Inicio </th>
                                        <td mat-cell *matCellDef="let element"> {{element.course.name}} </td>
                                      </ng-container>
                                
                                    <ng-container matColumnDef="actions">
                                      <th mat-header-cell *matHeaderCellDef>Actions</th>
                                      <td mat-cell *matCellDef="let element">
                                            <button (click)="onDeleteRegistration(element.id)" mat-icon-button color="warn">
                                              <mat-icon>delete</mat-icon>
                                            </button>
                                      </td>
                                    </ng-container>
                                  
                                    <tr mat-header-row *matHeaderRowDef="displayedRegistrationColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedRegistrationColumns;"></tr>
                                  </table>
                            </div>
                        </div>
                       </div>
            
                        <div class="d-flex justify-content-end" mat-dialog-actions>
                            <button (click)="onSave()" mat-button [disabled]="buttonDisabled">Guardar</button>
                            <button mat-dialog-close mat-button>Cancelar</button>
                        </div>
                </div>
            </form>
        </ng-container>
    }
}
