<div *ngIf="loading" class="d-flex justify-content-center align-items-center w-100">
    <mat-spinner ></mat-spinner>
</div>
<ng-container *ngIf="!loading">
    <h2 mat-dialog-title appTamanio20Titulos>Crear Estudiante</h2>

    <form [formGroup]="studentForm">
        <div mat-dialog-content>
            <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Persona</mat-label>
                        <mat-select formControlName="People">
                        <mat-option [value]="people" *ngFor="let person of people">
                            {{ person.firstName}} {{person.lastName }}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Curso</mat-label>
                        <mat-select formControlName="Course">
                        <mat-option [value]="courses" *ngFor="let course of courses">
                            {{ course.Name}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-end" mat-dialog-actions>
        <button (click)="onSave()" mat-button [disabled]="buttonDisabled">Guardar</button>
        <button mat-dialog-close mat-button [disabled]="buttonDisabled">Cancelar</button>
    </div>
</ng-container>
